{% extends "blog/base.html" %}
{% load static %}
{% block content %}
<style>
    body {
        background: url('{% static "blog/beach.jpeg" %}') center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;

    }
</style>
<div class="container"> 
    <div class="row"> 
        {% for post in posts %}
      <div class="col-md-12 col-lg-6 col-xs-12 mb-2">
        <div class="card profile-card-2">
          <div class="card-img-block">
            <img class="img-fluid card-img"src="{{ post.image.url }}"
              alt="Card image cap">
          </div>
          <div class="card-body pt-4">
            <a class="mr-2" href="{% url 'user-posts' post.author.username %}">
            <img src="{{ post.author.profile.image.url }}"  alt="profile-image" class="profile" />
            </a>
            <h5 class="card-title pt-3">{{ post.author }}</h5>
            <p class="text-muted float-right">{{ post.date_posted|date:"M d, Y" }}</p>
            <a href="{% url 'post-detail' post.id %}" class="btn btn-primary btn-sm">view</a>            
          </div>
        </div>
      </div>

      {% endfor %}
    </div>    
  </div>

<div class="row">  
  <div class="mx-auto">
    {% if posts.has_previous %}
    <a class="btn btn-secondary mb-5 btn-sm" href="?page=1">First</a>
    <a class="btn btn-secondary mb-5 btn-sm" href="?page={{ posts.previous_page_number }}">Previous</a>
    {% endif %}

    {% for num in posts.paginator.page_range %}
    {% if posts.number == num %}
    <a class="btn btn-secondary mb-5 btn-sm" href="?page={{ num }}">{{ num }}</a>
    {% elif num > posts.number|add:'-3' and num < posts.number|add:'3' %}
    <a class="btn btn-secondary mb-5 btn-sm" href="?page={{ num }}">{{ num }}</a>
    {% endif %}
    {% endfor %}

    {% if posts.has_next %}
    <a class="btn btn-secondary mb-5 btn-sm" href="?page={{ posts.next_page_number }}">Next</a>
    <a class="btn btn-secondary mb-5 btn-sm" href="?page={{ posts.paginator.num_pages }}">Last</a>
    {% endif %}

  </div>
 
</div>
{% endblock content %}

